{% extends "flashcards/base.html" %}

{% block content %}

{% if not message %}

    <div class="debug">
        <h3>Debug Info</h3>
        <ul>
            <li>Currend Card Id: {{ card.id }}</li>
            <li>Bin: {{ card.bin }}</li>
            <li>Next Review Time: {{ card.next_review }}</li>
            <li>Total Wrong: {{ card.total_wrong }}</li>
        </ul>
    </div>

    <div class="word">
        <h3>Word</h3>
        {{ card.word }}
    </div>

    <div id="showButton">
        <input type="button" value="Show Definition" onclick="showDiv()"/>
    </div>

    <div id='definition' class="definition" style="display:none;">
        <h3>Definition</h3>
        {{ card.definition }}

        <div class="answers">
            <a href="/answer/{{ card.id }}/correct"><button>I got it</button></a>
            <a href="/answer/{{ card.id }}/incorrect"><button>I did not get it</button</a>
        </div>
    </div>

{%  else %}
    {{ message }}
{% endif %}

<script>
    function showDiv() {
       document.getElementById('definition').style.display = "block";
       document.getElementById('showButton').style.display = "none";
    }
</script>

{% endblock %}
