{% extends "flashcards/base.html" %}

{% block content %}

{% if not message %}

    <div class="card" style="margin-top: 20px;">
      <div class="card-body">
        <h5 class="card-title">Word:</h5>
        <p class="card-text">
            {{ card.word }}
        </p>
        <div id="showButton">
            <button type="button" class="btn btn-primary" onclick="showDiv()">Show Definition</button>
        </div>
      </div>
    </div>

    <div id='definition' class="definition" style="display:none;">

        <div id='definition' class="card" style="margin-top: 20px;">
          <div class="card-body">
            <h5 class="card-title">Definition:</h5>
            <p class="card-text">
                {{ card.definition }}
            </p>
            <a type="button" class="btn btn-primary" href="/answer/{{ card.id }}/correct">I got it</a>
            <a type="button" class="btn btn-primary" href="/answer/{{ card.id }}/incorrect">I did not get it</a>
          </div>
        </div>
    </div>

{%  else %}
    <div class="alert alert-secondary" role="alert" style="margin-top: 20px;">
          {{ message }}
    </div>
{% endif %}

<script>
    function showDiv() {
       document.getElementById('definition').style.display = "block";
       document.getElementById('showButton').style.display = "none";
    }
</script>

{% endblock %}
